/* Tree demo class styles*/

/* List */

ul {
  list-style-type: none;
}

.parent {
  cursor: pointer;
  user-select: none;
}

.parent::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.parent-down::before {
  transform: rotate(90deg);
}

.children {
  display: none;
}

.active {
  display: block;
}

/* Context menu */

.custom-cm {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
}

.custom-cm-item {
  cursor: pointer;
  padding: 8px 15px;
}

.custom-cm-item:hover {
  background-color: #f8f8f8;
}

.custom-cm-devider {
  border-bottom: 1px solid #eeeeee;
  margin: 10px 0;
}